#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    transition: .5s;
}

#text {
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    font-size: 60px;
    margin-bottom: 50px;
}

.buttons {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.btn {
    border: 1px solid white;
    background-color: #eee;
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.btn-1 {
    background-color: tomato;
}

.btn-2 {
    background-color: orange;
}

.btn-3 {
    background-color: limegreen;
}

.btn-4 {
    background-color: darkturquoise;
}

.btn-5 {
    background-color: royalblue;
}

.btn-6 {
    background-color: blueviolet;
}